.container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 3fr 0.8fr;
    grid-gap: 5px;
}

.topNewsContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bottomNewsContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mainContent {
    background-color: white;
    padding: 10px;
    border-right: 3px solid #f7f7f7;
}

.adsRight {
    background-color: white;
    padding: 10px;
}

.bottomAdsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.imageAd {
    width: 50%;
    height: auto;
    cursor: pointer;
}

.rightImageAd {
    width: 100%;
}

.line {
    grid-column: 1 / -1;
    height: 2px;
    border-bottom: 1px solid black;
    width: 100%;
}

// For Medium Screen
@media only screen and (max-width: 768px) {
    .container {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }

    .topNewsContent {
        display: grid;
        grid-template-columns: 1fr;
    }

    .bottomNewsContent {
        display: grid;
        grid-template-columns: 1fr;
    }

    .imageAd {
        width: 80%;
        height: auto;
    }
}

// For Small Screen
@media only screen and (max-width: 600px) {
    .imageAd {
        width: 100%;
        height: auto;
    }
}
