.rightImageAd {
    width: 100%;
}

.primaryAdsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 3px solid #f7f7f7;
}
